﻿html { height: 100% }

body {
  padding: 1 1 1 1em;
  font-family: verdana,arial,helvetica;
  font-size: 1em;
  color: #646668;
}

code { font-size: 1.2em; }

p, ul, pre { margin-bottom: 1em; }

pre { font-size: 1.2em; color: #646668; margin-left:0.5em; padding:0.5em; background-color:#F6F8Fa; width:auto; }

a:link, a:visited { color: #5285cc; text-decoration: none; border: none; }
a:hover, a:active { color: #E57E00; text-decoration: none; border-bottom: 1px solid #E57E00; }

h1, h2, h3 { font-family: verdana,arial,helvetica; }

h1, h2 { margin-bottom: 0.7em }

h1 { font-size: 1.4em; color: #555759; }

h2 { 
  font-size: 1.3em;
  color: #E57E00;
  line-height: 120%;
  border-bottom: 1px solid #C1C5C9;
  padding: 0 0 10px;
  counter-increment: header-num; 
  counter-reset: question-num; 
  margin-top: 18;
}

h3 {
  font-size: 1em;
  counter-increment: question-num;
  padding-left: 0.5em;
  padding-bottom:0.5em;
  padding-top:0.5em;
  background: #E3E4E6;
}

/* Pretty printing styles. Used with prettify.js. */

.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}

.prettyprint { }
